@model Livraria.Models.EntradaEstoque

@{
    ViewBag.Title = "Detalhes da Entrada no Estoque";
}

<h2>Detalhes da Entrada no Estoque</h2>

<div>
    <h4>EntradaEstoque</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Fornecedor.CNPJCPF)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Fornecedor.CNPJCPF)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Livro.Nome)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Livro.Nome)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Data)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Data)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.NotaFiscal)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.NotaFiscal)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Quantidade)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Quantidade)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.ValorUnitario)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.ValorUnitario)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Editar", "Edit", new { id = Model.EntradaEstoqueId }) |
    @Html.ActionLink("Voltar", "Index")
</p>
