@model IEnumerable<Livraria.Models.EntradaEstoque>

@{
    ViewBag.Title = "Entradas de Estoque";
}

<h2>Entradas de Estoque</h2>

<p>
    @Html.ActionLink("Novo", "Create")
</p>
<table class="table">
    <tr>
        <th>
            Fornecedor
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Livro.Nome)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Data)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.NotaFiscal)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Quantidade)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.ValorUnitario)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.Fornecedor.Nome)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Livro.Nome)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Data)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.NotaFiscal)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Quantidade)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.ValorUnitario)
        </td>
        <td>
            @Html.ActionLink("Editar", "Edit", new { id=item.EntradaEstoqueId }) |
            @Html.ActionLink("Detalhes", "Details", new { id=item.EntradaEstoqueId }) |
            @Html.ActionLink("Excluir", "Delete", new { id=item.EntradaEstoqueId })
        </td>
    </tr>
}

</table>
